 .u-section-1 {
  min-height: 432px;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url('images/90735c8dfe6e1cc550f8317579e37eb61b935169c4d3995cce33f1bf1757dbc9b35690ac649b6be97e62895fcfc813b2bac644eb143e3ddf2d6f0f_1280.jpg');
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 727px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 966px;
  margin: 75px 41px 55px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 597px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.u-section-2 .u-form-1 {
  height: 299px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  font-size: 1.125rem;
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 611px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 41px 152px 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 23px 18px 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 13px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 14px 18px 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 17px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  margin: 23px 33px 0;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 24px auto 0 67px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  line-height: 2;
  margin: 7px 32px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 581px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 595px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 147px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 12px;
    margin-left: 12px;
  }

  .u-section-2 .u-text-6 {
    width: 183px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 102px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 100px;
 
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }
  .u-section-2 .u-text-8 {
    margin-left: auto;
   
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 202px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  .u-section-2 .u-text-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-right: auto;
  }
}